@font-face {
    font-family: 'NFLCHARG';
    src:url('../fonts/NFLCHARG.ttf') format('truetype');
}

@font-face {
    font-family: 'Bougan SSi';
    src:url('../fonts/Bougan SSi.ttf') format('truetype');
}